block vars

doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='Prosper is a community of digital creatives collaborating to help refugees prosper in Europe')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="google-site-verification", content="ndW8bBDNdqxk4V1LyERZwAMku-yLCD1DRL5ahiLelEw")
    title Prosper — A Digital Community Helping Refugees Prosper
    //- link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    //- GA
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-68984382-2', 'auto');
      ga('send', 'pageview');
    //- Typekit
    script.
      (function(d) {
      var config = {
      kitId: 'spa2sxo',
      scriptTimeout: 3000,
      async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

  body
    //if lt IE 10
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.

    include ../includes/header

    block content

    include ../includes/footer
        
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild

    block page-script
